[submodule "FFmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "libwebp"]
	path = libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "mpv"]
	path = mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "libplacebo"]
	path = libplacebo
	url = https://code.videolan.org/videolan/libplacebo.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "uchardet"]
	path = uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
